<h1>InstaClone</h1> 
<h1></h1>

<% @posts.each do |post| %>
    <p>Posted by:
        <b><%= link_to post.user.username, user_path(post.user) %></b>
    </p>
    <p>
        <%= image_tag post.content %>
    </p>
    <p>Uploaded at:
        <%= post.created_at %>
    </p>
<% end %>