<h1>InstaClone</h1> 
<h1></h1>

<% @posts.each do |post| %>
    <p>
        <%= post.content %>
    </p>
    <p>Posted by:
        <%= link_to post.user.username, user_path(post.user) %>
    </p>
    <p>Uploaded at:
        <%= post.created_at %>
    </p>
<% end %>
